<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="CustomerCompanyName" value="Dongguan KingWin Anti-counterfeiting Technology Co.,Ltd." />
    <add key="ConfigurationFrom" value="Configuration" />
    <add key="SoftName" value="Lottery Exchange System" />
    <add key="SoftFullName" value="Lottery Exchange System" />
    <add key="Copyright" value="Copyright © 2021 Dongguan KingWin Anti-counterfeiting Technology Co.,Ltd.  All Rights Reserved " />
    <add key="Version" value="V2.7" />
    <add key="AutoStart" value="True" />
    <add key="EnableUserAuthorization" value="True" />
    <add key="EnableUserAuthorizationScope" value="True" />
    <add key="EnableModulePermission" value="True" />
    <add key="EnablePermissionItem" value="True" />
    <add key="EnableEncryptServerPassword" value="True" />
    <!--Language: ZH -中文;EN-英文-->
    <add key="Languange" value="ZH" />
    <add key="BusinessDbType" value="SQLServer" />
    <add key="EncryptDbConnection" value="False" />
    <add key="ZipPassword" value="dgjw" />
    <!--数据发布、导出服务执行时间间隔-->
    <add key="ServiceInterval" value="5000" />
    <add key="PerThreadCodeCount" value="500000"/>
    <add key="PerFileExportCount" value="500000"/>
    
    <!--数据发布完成后自动将数据写入码上增值系统-->
    <add key="PerSendDataCount" value="1000000" />
    <add key="AutoSendData" value="True"/>   
    <!--数据发布完成后自动将数据写入码上增值系统-->
    <add key ="DataExportPath" value="F:\MSZZData\OrderData" />
    <add key ="SendDataPath" value="D:\WebDeploy\Sass\code.idsuyuan.com\wwwroot\Resource\data" />
    <add key="SqlConnStr" value="Server=120.24.212.227;Initial Catalog=MSZZ_Codes;User ID=jwadmin;Password=dgjw*7958-" />
  </appSettings>
</configuration>